.direction:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    text-decoration-color: black;
    background-color: aquamarine;
    
}

.song {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-decoration-color: black;
    background-color: aquamarine;
    text-indent: 2em;

}
table, th, td {
    border: 1px solid green;
    text-align: left;
    padding: 25px;
}
h4:hover {
    text-shadow: 2px 2px grey;
    border: 1px solid green;;
}
h5:hover {
    text-shadow: 2px 2px grey;
    border: 1px solid green;
}